main {
    width: 100%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
    background: linear-gradient(45deg, rgba(243,243,243), var(--primary));
}

main > .board {
    height: 95%;
    aspect-ratio: 1 / 1;
    display: grid;
    border: 3px #0000003d solid;
}
main > .board > .row {
    display: grid;
    grid-column: 1 / -1;
    margin: .1rem;
    grid-template-columns: repeat( 8, 1fr );
}

main > .board > .row > .field {
    border: 3px #0000003d solid;
    grid-column: span 1;
    background: var(--field-color);
    width:  calc(100% - 0.2rem);
    margin: .1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    font-size: 2rem;
}
main > .board > .row > .field:hover {
    background: var(--field-color);
    border: 3px rgb(55, 152, 76) solid;
}
main > .board > .row > .field.dark {
    /*background: #f2eddf;*/
    background: #9a7c6e;
}
main > .board > .row > .field > svg { filter: drop-shadow( 10px 7px 29px rgba(100, 100, 111, 0.2))  }
